<div class="container-fluid disable-text-selection">
  <div class="row">
    <div class="col-12">
      <div class="mb-3">
        <h1 class="font-weight-bold">Settings </h1>
        <div class="float-sm-right text-zero">
          <button type="button" class="btn btn-outline-primary btn-sm default mb-1">Help</button>
        </div>
      </div>
    </div>
    <!--=================-->
    <div class="col-12 mb-4">
      <div class="separator mb-3"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mb-4">
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs" role="tablist">
            <!-- <li class="nav-item">
                              <a class="nav-link active" id="first-tab" data-toggle="tab" href="#first" role="tab"
                                 aria-controls="first" aria-selected="true"> </a>
                          </li> -->
            <!-- <li class="nav-item">
                                  <a class="nav-link active" id="fivth-tab" data-toggle="tab" href="#fivth" role="tab"
                                      aria-controls="fivth" aria-selected="true">All </a>
                              </li> -->
            <!--<li class="nav-item">-->
            <!--<a class="nav-link" id="second-tab" data-toggle="tab" href="#second" role="tab"-->
            <!--aria-controls="second" aria-selected="false">To Invoice</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
            <!--<a class="nav-link" id="third-tab" data-toggle="tab" href="#third" role="tab"-->
            <!--aria-controls="third" aria-selected="false">To Ship</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
            <!--<a class="nav-link" id="fourth-tab" data-toggle="tab" href="#fourth" role="tab"-->
            <!--aria-controls="fourth" aria-selected="false">To Backorder</a>-->
            <!--</li>-->
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div class="navbar" style="box-shadow: none; padding: 0; height: 70px;">
              <div class="search" data-search-path="Pages.Search.html?q=">
                <input placeholder="Enter New Item ...">
                <span class="search-icon">
                  <i class="simple-icon-magnifier"></i>
                </span>
              </div>
            </div>

            <div class="row mt-4">
              <div class="col-4">
                <div class="card p-4 mb-3 " style="font-size: 21px;">
                  <span> Car</span>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    style="position: absolute;right: 20px;top: 24px;">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
              </div>
              <div class="col-4">
                <div class="card p-4 mb-3 " style="font-size: 21px;">
                  <span> Tractor</span>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    style="position: absolute;right: 20px;top: 24px;">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
              </div>
              <div class="col-4">
                <div class="card p-4 mb-3 " style="font-size: 21px;">
                  <span> Bike</span>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    style="position: absolute;right: 20px;top: 24px;">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
              </div>
              <div class="col-4">
                <div class="card p-4 mb-3 " style="font-size: 21px;">
                  <span> Potato</span>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    style="position: absolute;right: 20px;top: 24px;">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
              </div>
              <div class="col-4">
                <div class="card p-4 mb-3 " style="font-size: 21px;">
                  <span> Tomato</span>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    style="position: absolute;right: 20px;top: 24px;">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
              </div>
              <div class="col-4">
                <div class="card p-4 mb-3 " style="font-size: 21px;">
                  <span> Carrot</span>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    style="position: absolute;right: 20px;top: 24px;">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
              </div>
              <div class="col-4">
                <div class="card p-4 mb-3 " style="font-size: 21px;">
                  <span> Jeep </span>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    style="position: absolute;right: 20px;top: 24px;">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
              </div>
              <div class="col-4">
                <div class="card p-4 mb-3 " style="font-size: 21px;">
                  <span> Skoda</span>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    style="position: absolute;right: 20px;top: 24px;">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
              </div>
              <div class="col-4">
                <div class="card p-4 mb-3 " style="font-size: 21px;">
                  <span> BMW</span>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    style="position: absolute;right: 20px;top: 24px;">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
              </div>

            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>