<div class="container-fluid disable-text-selection">
    <div class="row">
        <div class="col-12">
            <div class="mb-3">
                <h1 class="font-weight-bold">Relationships</h1>
                <div class="float-sm-right text-zero">
                    <button mat-button [matMenuTriggerFor]="menu"
                    class="btn btn-outline-primary default btn-sm dropdown-toggle mt-2 mr-2">Bulk Manage</button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Import Locations</button>
                    <button mat-menu-item>Export Locations</button>
                    <button mat-menu-item>Edit Relationships</button>
                </mat-menu>
                    <button type="button" class="btn btn-outline-primary btn-sm default mb-1">Help</button>
                </div>
            </div>
        </div>
        <!--=================-->
        <div class="col-12 mb-4">
            <div class="card  dashboard-sq-banner">
                <div class="card-body row">
                    <div class="col-10">
                        <h4 class="text-white">Manage your suppliers, retailers, and customers</h4>
                        <p class="text-white">
                            Arethos aggregates your key business relationships in one place. Easily bring up addresses, past orders, and contacts for each business.
                        </p>
                    </div>
                    <div class="col-2">
                        <a href="javascript:void(0)" class="btn btn-light default mt-3" routerLink="/create-relationship">Add New Customer</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator mb-5"></div>
    </div>

    <div class="row">
        <div class="col-12 mb-4">
            <div class="card">
                <div class="card-body">
                        <div class="mb-2">
                                <a class="btn pt-0 pl-0 d-inline-block d-md-none" data-toggle="collapse" href="#displayOptions"
                                    role="button" aria-expanded="true" aria-controls="displayOptions">
                                    Display Options
                                    <i class="simple-icon-arrow-down align-middle"></i>
                                </a>
                                <div class="collapse d-md-block" id="displayOptions">
                                    <div class="d-block d-md-inline-block">
        
                                    </div>
                                    <div class="float-md-right">
                                        <form class="example-form mt--13">
                                            <mat-form-field class="example-full-width mr-3">
                                                <input matInput placeholder="Search...">
                                            </mat-form-field>
                                        </form>
                                    </div>
                                </div>
                            </div>
                    <table mat-table [dataSource]="dataSource" matSort class="">
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>
    
                            <ng-container matColumnDef="type">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                                <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                            </ng-container>
    
                            <ng-container matColumnDef="email">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                            </ng-container>
    
                            <ng-container matColumnDef="phone">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
                                <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                            </ng-container>
    
                            <ng-container matColumnDef="address">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
                                <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                            </ng-container>
    
                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                            </ng-container>
    
                            <ng-container matColumnDef="created">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
                                <td mat-cell *matCellDef="let element"> {{element.created}} </td>
                            </ng-container>
    
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                        </mat-paginator>
                </div>

            </div>
        </div>
    </div>
</div>