<div class="container-fluid disable-text-selection">
    <div class="row">
        <div class="col-12">
            <div class="mb-3">
                <h1 class="font-weight-bold">Stock Avaliable </h1>
                <div class="float-sm-right text-zero">
                    <button type="button" class="btn btn-outline-primary btn-sm default mb-1">Help</button>
                </div>
            </div>
        </div>
        <!--=================-->
        <div class="col-12 mb-4">
            <div class="separator mb-3"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-4">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="mb-2">
                            <a class="btn pt-0 pl-0 d-inline-block d-md-none" data-toggle="collapse"
                                href="#displayOptions" role="button" aria-expanded="true"
                                aria-controls="displayOptions">
                                Display Options
                                <i class="simple-icon-arrow-down align-middle"></i>
                            </a>
                            <div class="collapse d-md-block" id="displayOptions">
                                <span class="mr-3 mb-2 d-inline-block float-md-left">
                                    <a href="#" class="mr-2 view-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 19">
                                            <path class="view-icon-svg"
                                                d="M17.5,3H.5a.5.5,0,0,1,0-1h17a.5.5,0,0,1,0,1Z">
                                            </path>
                                            <path class="view-icon-svg"
                                                d="M17.5,10H.5a.5.5,0,0,1,0-1h17a.5.5,0,0,1,0,1Z">
                                            </path>
                                            <path class="view-icon-svg"
                                                d="M17.5,17H.5a.5.5,0,0,1,0-1h17a.5.5,0,0,1,0,1Z">
                                            </path>
                                        </svg>
                                    </a>
                                    <a href="#" class="mr-2 view-icon active">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 19">
                                            <path class="view-icon-svg"
                                                d="M17.5,3H6.5a.5.5,0,0,1,0-1h11a.5.5,0,0,1,0,1Z">
                                            </path>
                                            <path class="view-icon-svg"
                                                d="M3,2V3H1V2H3m.12-1H.88A.87.87,0,0,0,0,1.88V3.12A.87.87,0,0,0,.88,4H3.12A.87.87,0,0,0,4,3.12V1.88A.87.87,0,0,0,3.12,1Z">
                                            </path>
                                            <path class="view-icon-svg"
                                                d="M3,9v1H1V9H3m.12-1H.88A.87.87,0,0,0,0,8.88v1.24A.87.87,0,0,0,.88,11H3.12A.87.87,0,0,0,4,10.12V8.88A.87.87,0,0,0,3.12,8Z">
                                            </path>
                                            <path class="view-icon-svg"
                                                d="M3,16v1H1V16H3m.12-1H.88a.87.87,0,0,0-.88.88v1.24A.87.87,0,0,0,.88,18H3.12A.87.87,0,0,0,4,17.12V15.88A.87.87,0,0,0,3.12,15Z">
                                            </path>
                                            <path class="view-icon-svg"
                                                d="M17.5,10H6.5a.5.5,0,0,1,0-1h11a.5.5,0,0,1,0,1Z">
                                            </path>
                                            <path class="view-icon-svg"
                                                d="M17.5,17H6.5a.5.5,0,0,1,0-1h11a.5.5,0,0,1,0,1Z">
                                            </path>
                                        </svg>
                                    </a>
                                    <a href="#" class="mr-2 view-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 19">
                                            <path class="view-icon-svg"
                                                d="M7,2V8H1V2H7m.12-1H.88A.87.87,0,0,0,0,1.88V8.12A.87.87,0,0,0,.88,9H7.12A.87.87,0,0,0,8,8.12V1.88A.87.87,0,0,0,7.12,1Z">
                                            </path>
                                            <path class="view-icon-svg"
                                                d="M17,2V8H11V2h6m.12-1H10.88a.87.87,0,0,0-.88.88V8.12a.87.87,0,0,0,.88.88h6.24A.87.87,0,0,0,18,8.12V1.88A.87.87,0,0,0,17.12,1Z">
                                            </path>
                                            <path class="view-icon-svg"
                                                d="M7,12v6H1V12H7m.12-1H.88a.87.87,0,0,0-.88.88v6.24A.87.87,0,0,0,.88,19H7.12A.87.87,0,0,0,8,18.12V11.88A.87.87,0,0,0,7.12,11Z">
                                            </path>
                                            <path class="view-icon-svg"
                                                d="M17,12v6H11V12h6m.12-1H10.88a.87.87,0,0,0-.88.88v6.24a.87.87,0,0,0,.88.88h6.24a.87.87,0,0,0,.88-.88V11.88a.87.87,0,0,0-.88-.88Z">
                                            </path>
                                        </svg>
                                    </a>
                                </span>
                                <div class="d-block d-md-inline-block">
                                    <div class="btn-group float-md-left mr-1 mb-1">
                                        <button class="btn btn-outline-dark btn-xs dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            Customer Name
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                        </div>
                                    </div>
                                    <div class="search-sm d-inline-block float-md-left mr-1 mb-1 align-top">
                                        <input placeholder="Search...">
                                    </div>
                                </div>
                                <div class="float-md-right">
                                    <span class="text-muted text-small">Displaying 1-10 of 210 items </span>
                                    <button class="btn btn-outline-dark btn-xs dropdown-toggle" type="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        20
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">10</a>
                                        <a class="dropdown-item active" href="#">20</a>
                                        <a class="dropdown-item" href="#">30</a>
                                        <a class="dropdown-item" href="#">50</a>
                                        <a class="dropdown-item" href="#">100</a>
                                    </div>
                                    <!--<div class="btn-group">-->
                                    <!--<div class="btn btn-primary pl-2 pr-0 check-button">-->
                                    <!--<label class="custom-control custom-checkbox mb-0 d-inline-block">-->
                                    <!--<input type="checkbox" class="custom-control-input" id="checkAll">-->
                                    <!--<span class="custom-control-label"></span>-->
                                    <!--</label>-->
                                    <!--</div>-->
                                    <!--<button type="button"-->
                                    <!--class="btn btn-primary dropdown-toggle dropdown-toggle-split pl-2 pr-2"-->
                                    <!--data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                                    <!--<span class="sr-only">Toggle Dropdown</span>-->
                                    <!--</button>-->
                                    <!--<div class="dropdown-menu dropdown-menu-right">-->
                                    <!--<a class="dropdown-item" href="#">Action</a>-->
                                    <!--<a class="dropdown-item" href="#">Another action</a>-->
                                    <!--</div>-->
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                        <div id="DataTables_Table_2_wrapper"
                                class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                <table class="table table-hover" id="products-table" role="grid"
                                    aria-describedby="DataTables_Table_2_info">
                                    <thead class="thead-light">
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0"
                                                aria-controls="DataTables_Table_2" rowspan="1" colspan="1"
                                                aria-sort="ascending"
                                                aria-label="Name: activate to sort column descending" >Customer Name
                                    <th class=" sorting" tabindex="0" aria-controls="DataTables_Table_2"
                                                rowspan="1" colspan="1"
                                                aria-label="Position: activate to sort column ascending" >Item Name
                                    <th class=" sorting" tabindex="0" aria-controls="DataTables_Table_2"
                                                rowspan="1" colspan="1"
                                                aria-label="Office: activate to sort column ascending" >Quantity
                                    <th class=" sorting" tabindex="0" aria-controls="DataTables_Table_2"
                                                rowspan="1" colspan="1"
                                                aria-label="Age: activate to sort column ascending" >SKU
                                    <th class=" sorting" tabindex="0" aria-controls="DataTables_Table_2"
                                                rowspan="1" colspan="1"
                                                aria-label="Start date: activate to sort column ascending" >Room
                                    <th class=" sorting" tabindex="0" aria-controls="DataTables_Table_2"
                                                rowspan="1" colspan="1"
                                                aria-label="Start date: activate to sort column ascending">
                                                <div
                                                    class="custom-control custom-checkbox pl-1 align-self-center pr-4">
                                                    <label class="custom-control custom-checkbox mb-0">
                                                        <input type="checkbox" class="custom-control-input">
                                                        <span class="custom-control-label"></span>
                                                    </label>

                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr role="row" class="odd">
                                            <td>John Doe</td>
                                            <td>Cycle</td>
                                            <td>299</td>
                                            <td>30</td>
                                            <td> A1</td>
                                            <td>
                                                <div
                                                    class="custom-control custom-checkbox pl-1 align-self-center pr-4">
                                                    <label class="custom-control custom-checkbox mb-0">
                                                        <input type="checkbox" class="custom-control-input">
                                                        <span class="custom-control-label"></span>
                                                    </label>

                                                </div>
                                            </td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td>John Doe</td>
                                            <td>Cycle</td>
                                            <td>299</td>
                                            <td>30</td>
                                            <td> A1</td>
                                            <td>
                                                <div
                                                    class="custom-control custom-checkbox pl-1 align-self-center pr-4">
                                                    <label class="custom-control custom-checkbox mb-0">
                                                        <input type="checkbox" class="custom-control-input">
                                                        <span class="custom-control-label"></span>
                                                    </label>

                                                </div>
                                            </td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td>John Doe</td>
                                            <td>Cycle</td>
                                            <td>299</td>
                                            <td>30</td>
                                            <td> A1</td>
                                            <td>
                                                <div
                                                    class="custom-control custom-checkbox pl-1 align-self-center pr-4">
                                                    <label class="custom-control custom-checkbox mb-0">
                                                        <input type="checkbox" class="custom-control-input">
                                                        <span class="custom-control-label"></span>
                                                    </label>

                                                </div>
                                            </td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td>John Doe</td>
                                            <td>Cycle</td>
                                            <td>299</td>
                                            <td>30</td>
                                            <td> A1</td>
                                            <td>
                                                <div
                                                    class="custom-control custom-checkbox pl-1 align-self-center pr-4">
                                                    <label class="custom-control custom-checkbox mb-0">
                                                        <input type="checkbox" class="custom-control-input">
                                                        <span class="custom-control-label"></span>
                                                    </label>

                                                </div>
                                            </td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td>John Doe</td>
                                            <td>Cycle</td>
                                            <td>299</td>
                                            <td>30</td>
                                            <td> A1</td>
                                            <td>
                                                <div
                                                    class="custom-control custom-checkbox pl-1 align-self-center pr-4">
                                                    <label class="custom-control custom-checkbox mb-0">
                                                        <input type="checkbox" class="custom-control-input">
                                                        <span class="custom-control-label"></span>
                                                    </label>

                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="row view-pager">
                                    <div class="col-sm-12">
                                        <div class="text-center">
                                            <!--<div class="dataTables_info" id="DataTables_Table_2_info" role="status"-->
                                            <!--aria-live="polite">Showing 1 to 10 of 41 entries-->
                                            <!--</div>-->
                                            <!--<div class="dataTables_paginate paging_simple_numbers"-->
                                            <!--id="DataTables_Table_2_paginate">-->
                                            <!--<ul class="pagination pagination-sm">-->
                                            <!--<li class="paginate_button page-item previous disabled"-->
                                            <!--id="DataTables_Table_2_previous"><a href="#"-->
                                            <!--aria-controls="DataTables_Table_2"-->
                                            <!--data-dt-idx="0"-->
                                            <!--tabindex="0"-->
                                            <!--class="page-link prev"><i-->
                                            <!--class="simple-icon-arrow-left"></i></a></li>-->
                                            <!--<li class="paginate_button page-item active"><a href="#"-->
                                            <!--aria-controls="DataTables_Table_2"-->
                                            <!--data-dt-idx="1"-->
                                            <!--tabindex="0"-->
                                            <!--class="page-link">1</a>-->
                                            <!--</li>-->
                                            <!--<li class="paginate_button page-item "><a href="#"-->
                                            <!--aria-controls="DataTables_Table_2"-->
                                            <!--data-dt-idx="2"-->
                                            <!--tabindex="0"-->
                                            <!--class="page-link">2</a></li>-->
                                            <!--<li class="paginate_button page-item "><a href="#"-->
                                            <!--aria-controls="DataTables_Table_2"-->
                                            <!--data-dt-idx="3"-->
                                            <!--tabindex="0"-->
                                            <!--class="page-link">3</a></li>-->
                                            <!--<li class="paginate_button page-item "><a href="#"-->
                                            <!--aria-controls="DataTables_Table_2"-->
                                            <!--data-dt-idx="4"-->
                                            <!--tabindex="0"-->
                                            <!--class="page-link">4</a></li>-->
                                            <!--<li class="paginate_button page-item "><a href="#"-->
                                            <!--aria-controls="DataTables_Table_2"-->
                                            <!--data-dt-idx="5"-->
                                            <!--tabindex="0"-->
                                            <!--class="page-link">5</a></li>-->
                                            <!--<li class="paginate_button page-item next"-->
                                            <!--id="DataTables_Table_2_next"><a href="#"-->
                                            <!--aria-controls="DataTables_Table_2"-->
                                            <!--data-dt-idx="6"-->
                                            <!--tabindex="0" class="page-link next"><i-->
                                            <!--class="simple-icon-arrow-right"></i></a></li>-->
                                            <!--</ul>-->
                                            <!--</div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>